// Import Variable:
@import "./variables";

// Main Code:
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  main {
    height: 100%;
    width: 100%;
    overflow: hidden;
    #app-container {
      overflow: auto;
      overflow-x: hidden;
      #app-content {
        background: #565656;
      }
    }
  }
}

@import "./components/side_menu";
@import "./components/detail";
/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  background: $color-1;
}
