@import "./variables";
* {
  padding: 0;
  margin: 0;
}
body {
  background: rgb(75 85 99);
  height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  main {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}
@import "./components/_side_nav.scss";

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  background: $color-2;
}
