#side-menu {
  width: 4rem;
  transition: 0.3s;
}
// Side menu text link:
.side-link-text {
  display: none;
}
// Display the side menu:
.show-side-menu {
  width: 16rem !important;
  .side-link-text {
    display: flex;
  }
}
