$primary-color: #0b1320;
$secondary-color: #394d5f;
$color-0: #ffffff;
$color-1: #fef9e6;
$color-2: #101b37;
$color-3: #e41376;
$color-4: #01c8ee;
@font-face {
  font-family: OpenSans;
  src: url("../../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}
* {
  font-family: OpenSans;
  padding: 0;
  margin: 0;
}
body {
  background-color: $color-1;
}
.card:hover {
  top: -0.4rem;
}
.card {
  top: 0;
  position: relative;
  transition: 0.2s;
}

.navbar {
  background-color: $primary-color;
  color: $color-0;
}
.nav-link:hover {
  background-color: $secondary-color;
}

.btn {
  background-color: transparent;
  border: 1px solid transparent;
  &-primary {
    color: $color-1;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    background-color: $primary-color;
    &:hover {
      background-color: $secondary-color;
    }
  }
}
.footer-nav {
  background-color: $primary-color;
  color: $color-1;
  .foot-link {
    color: inherit;
  }
}
#nav-searchbox {
  color: $primary-color;
}
.active {
  background-color: $secondary-color;
}
/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.login-form-bg {
  background-color: $color-0;
}

.drop-menu {
  top: 3rem;
  background-color: $color-0;
  color: #0b1320;
  width: 240px;
  right: 1rem;
  .username{
    background-color: $primary-color;
    color: $color-0;
  }
  .drop-link {
    width: 100%;
    padding: 0.5rem;
  }
  a:hover {
    background-color: $secondary-color;
  }
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
