$primary-color: #0b1320;
$secondary-color: #394d5f;
$color-0: #ffffff;
$color-1: #fef9e6;
$color-2: #101b37;
$color-3: #e41376;
$color-4: #01c8ee;
// Root config:
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
// Navigation
.navbar {
  background-color: $primary-color;
  color: $color-0;
}
.nav-link {
  border-radius: 1.5rem;
  margin: 0.7rem 0;
  &:hover {
    background-color: $secondary-color;
  }
}
// Style
#nav-search {
  border-radius: 1.5rem;
  padding: auto 2rem;
}
.active-menu {
  display: flex;
}

// Footer
footer {
  background-color: $primary-color;
  color: $color-0;
}
