$primary-color: #0b1320;
$secondary-color: #394d5f;
$color-1: #fef9e6;
$color-2:#101B37;
$color-3:#E41376;
$color-4:#01C8EE;


* {
  padding: 0;
  margin: 0;
}
.card:hover {
  top: -0.4rem;
}
.card {
  top: 0;
  position: relative;
  transition: 0.2s;
}

.navbar {
  background-color: $primary-color;
  color: $color-1;
}
.nav-link:hover {
  background-color: $secondary-color;
}

.btn {
  background-color: transparent;
  border: 1px solid transparent;
  &-primary {
    color: $color-1;
    background-color: $secondary-color;
  }
}
.footer-nav{
    background-color: $primary-color;
    color: $color-1;
    .foot-link{
        color: inherit;   
    }
}
